//Colors Of Project

//Brand Colors
$primary-normal : #269E97;
$primary-light : #41ADA6;
$primary-dark : #1F8C86;

$secondary-normal: #107F79;
$secondary-light: #2E928C;
$secondary-dark: #0C716B;


//Neutral Colors
$white-normal: #F2F9FA;
$white-light : #F5FCFD;
$white-dark : #eef2f3;

$black-normal: #232224;
$black-ligh : #353436;
$black-dark : #161617;


//Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;


// Auxiliary Colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;


